@font-face {
    font-family: 'Tabac Sans';
    src: local('Tabac Sans Bold'), local('Tabac-Sans-Bold'),
        url('TabacSans-Bold.woff2') format('woff2'),
        url('TabacSans-Bold.woff') format('woff'),
        url('TabacSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }